{% extends "base.html" %}
{% block content %}
<div class="container">

  <div class="starter-template">
    <h1>NewCO apps</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>App Name</th>
          <th>Add</th>
          <th>List</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Clients</td>
          <td><a href="{% url 'clients:add_user' %}">Add Client</a></td>
          <td><a href="{% url 'clients:list_users' %}">List Clients</a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Posts</td>
          <td><a href="{% url 'posts:post_create' %}">Add Post</a></td>
          <td><a href="{% url 'posts:list_posts' %}">List Posts</a></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Profiles</td>
          <td><a href="{% url 'profiles:profile_create' %}">Add Profile</a></td>
          <td><a href="{% url 'profiles:list_profiles' %}">List Profiles</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div
{% endblock %}