{% extends "base.html" %}
{% block content %}
<div class="container post-container">
  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped">
        <tbody>
        {% for object in object_list %}
          <tr>
            <th>title</th>
            <td>{{ object.title }}</td>
          </tr>
          <tr>
            <th>Content</th>
            <td>{{ object.content }}</td>
          </tr>
          <tr>
            <th>tags</th>
            <td>{{ object.tags }}</td>
          </tr>
          <tr>
            <th>User</th>
            <td>{{ object.user }}</td>
          </tr>
           <tr>
            <th>Time</th>
            <td>
              {% load tz %}
              The UTC time is {{ object.time|timezone:"Europe/Amsterdam" }}
              {% localtime on %}
                The local time is {{ object.time }}
              {% endlocaltime %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock %}
